@font-face {
  font-family: "DINProCond-reg";
  src: url("../fonts/DINPro-CondensedRegular.ttf");
}

@font-face {
  font-family: "DINProCond-bold";
  src: url("../fonts/DINPro-CondensedBold.ttf");
}

@font-face {
  font-family: "DINProCond-light";
  src: url("../fonts/DINPro-CondensedLight.ttf");
}

@font-face {
  font-family: "DINProCond-med";
  src: url("../fonts/DINPro-CondensedMedium.ttf");
}

@font-face {
  font-family: "DINProCond-black";
  src: url("../fonts/DINPro-CondensedBlack.ttf");
}

@font-face {
  font-family: "DINPro";
  src: url("../fonts/DINPro.ttf");
}

@font-face {
  font-family: "DINPro-bold";
  src: url("../fonts/DINPro-Bold.ttf");
}

@font-face {
  font-family: "DINPro-light";
  src: url("../fonts/DINPro-Light.ttf");
}

@font-face {
  font-family: "DINPro-med";
  src: url("../fonts/DINPro-Medium.ttf");
}
