.section-2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "DINPro-med", serif;
}

.section-2__leftSideSpace {
  width: 50%;
  height: 880px;
  background-image: url("../img/bg-leftSideSpace.jpg");
  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-2__aboutUs {
  width: 50%;
  height: 880px;
  background-color: #fff;
  padding: 123px 101px 151px 0;
  color: #000;
}

.section-2__aboutUs-title {
  margin-bottom: 55px;
}

.section-2__aboutUs-subtitle {
  padding-left: 51px;
  opacity: 0.4;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  line-height: 28px;
  text-transform: uppercase;
}

.section-2__leftRedDivider {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 16px;
  width: 29px;
  height: 5px;
  background-color: #d71a14;
}

.section-2__aboutUs-titleItem {
  margin: 16px 0;
  display: inline-block;
  font-size: 50px;
  font-family: DINProCond-bold;
  text-transform: uppercase;
  line-height: 51.92px;
  opacity: 0.9;
}

.section-2__rightRedDivider {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 11px;
  width: 143px;
  height: 5px;
  background-color: #d71a14;
}

.section-2__aboutUs-title-desc {
  width: 230px;
  opacity: 0.9;
  padding-left: 51px;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: DINProCond-med;
  white-space: nowrap;
}

.section-2__aboutUs-desc {
  font-family: DINPro;
  padding-left: 51px;
}

.section-2__aboutUs-descItem-1 {
  margin-bottom: 30px;
}

.section-2__descItem {
  font-family: DINPro-light;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}
