<div class="pupTraingBigWrap pupHide">
  <div class="pupTraingWrap">
    <div class="pupTraingMenu">
      <svg
        width="47"
        height="47"
        class="pupTraing_close"
        viewBox="0 0 47 47"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        id="pupTraingClosePup"
      >
        <line
          x1="11.7275"
          y1="35.0619"
          x2="35.062"
          y2="11.7274"
          stroke="white"
        ></line>
        <line
          x1="35.062"
          y1="35.2726"
          x2="11.7274"
          y2="11.938"
          stroke="white"
        ></line>
      </svg>
    </div>
    <div class="pupTraing">
      <div class="pupTraing__title pupTraing__titleCoatch">
        Лучшие мастера города научат тебя творческой профессии с достойным
        заработком. Оставь заявку и мы расскажем подробнее.
      </div>

      <form
        action="scripts/training.php"
        method="post"
        class="pupTraingForm"
        autocomplete="off"
      >
        <label class="mainPup__input-wrap">
          <input
            onfocus="this.placeholder=''"
            onblur="this.placeholder='Имя'"
            placeholder="Имя"
            required
            type="text"
            class="pupTraing__input"
            name="name"
          />
          <span class="mainPup__input-caption">Имя*</span>
        </label>

        <label class="mainPup__input-wrap">
          <input
            placeholder="+7(___)___-__-__"
            required
            type="text"
            class="pupTraing__input phone-field"
            name="phone"
          />
          <span class="mainPup__input-caption">Контактный телефон</span>
        </label>

        <label class="mainPup__input-wrap">
          <input
            onfocus="this.placeholder=''"
            onblur="this.placeholder='Email'"
            placeholder="Email"
            required
            type="email"
            class="pupTraing__input"
            name="email"
          />
          <span class="mainPup__input-caption">Email</span>
        </label>

        <button name="send" type="submit" class="pupTraing__btn btn">
          записаться
        </button>
      </form>
    </div>
  </div>
</div>
