<div class="section-4__slideBarItem masterYura">
  <div class="section-4__slideBarItemInner">
    <div class="masterItemBox"></div>
    <p class="section-4__name">
      Юра
    </p>
    <p class="section-4__master-text">
      Слово «формат» - не про него. Любимое выражение: « если мастер думает, что
      достиг всего в этой профессии, то значит ему больше не стоит стричь ».
      Считает, что в любом образе должен быть идеальный баланс. Одним словом -
      идеалист.
    </p>
    <button
      class="header__title__btn header__title__btnMasters"
    >
      <a class="header__title__btn__link ms_booking" data-url="https://n364246.yclients.com/" href="#">
        записаться
      </a>
    </button>
  </div>
</div>
