<div class="section-4__slideBarItem masterValera">
  <div class="section-4__slideBarItemInner">
    <div class="masterItemBox"></div>
    <p class="section-4__name">
      Валера
    </p>
    <p class="section-4__master-text">
      Валера свой путь парикмахера начал в далёком 1999, за эти годы он собрал в
      себе всё лучшее с самых разнообразных школ. Сейчас же в его работе
      читается классическая английская школа, адептом которой он и является. У
      этого парня исключительное чувство юмора, что так же скрасит ваше время
      препровождения в его кресле.
    </p>
    <button
      class="header__title__btn header__title__btnMasters"
    >
      <a class="header__title__btn__link ms_booking" data-url="https://n364245.yclients.com/" href="#">
        записаться
      </a>
    </button>
  </div>
</div>
