<div class="section-4__slideBarItem masterAlexey">
  <div class="section-4__slideBarItemInner">
    <div class="masterItemBox"></div>
    <p class="section-4__name">
      Алексей
    </p>
    <p class="section-4__master-text">
      Лёха находится на передовой парикмахерской индустрии уже более 20 лет.
      Наверное, нет таких ситуаций в которых он не побывал за эти годы, его
      стиль на столько индивидуален, что после него вряд ли вы захотите пойти к
      другому мастеру! В работе ценит бессмертную классику, которую ему удаётся
      совмещать с современными стилями стрижки. Итоговый симбиоз не оставит вас
      равнодушным.
    </p>
    <button
      class="header__title__btn header__title__btnMasters"
    >
      <a class="header__title__btn__link ms_booking" data-url="https://n364241.yclients.com/" href="#">
        записаться
      </a>
    </button>
  </div>
</div>
