<div class="section-4__slideBarItem masterMatvey">
  <div class="section-4__slideBarItemInner">
    <div class="masterItemBox"></div>
    <p class="section-4__name">
      Матвей
    </p>
    <p class="section-4__master-text">
      Матвей - человек, с лица которого никогда не сходит улыбка! Мастер
      настольных игр и конечно же, большой мастер своего дела. В своей работе
      учитывает даже самые незначительные нюансы и доводит стрижки до
      совершенства.
    </p>
    <button
      class="header__title__btn header__title__btnMasters"
    >
      <a class="header__title__btn__link ms_booking" data-url="https://n364240.yclients.com/" href="#">
        записаться
      </a>
    </button>
  </div>
</div>
