<section class="section-4" id="masters">
  <div class="wrap">
    <div class="section-4__inner">
      <div class="section-4__title">
        <div class="section-4__title-redLine"></div>
        <div class="section-4__titleItem">Мастера</div>
        <div class="section-4__title-redLine"></div>
      </div>
      <button class="section-4__leftBtn btn">
        <img src="assets/img/left-arrow-icon.png" alt="<" width="25px" height="39px">
      </button>
      <div class="section-4__slideBarMasters__wrap" id="slideBar-wrap">
        <div class="section-4__slideBar" id="slideBar">

          {{> tattooOleg}}
          {{> tattooNikita}}
          {{> tattooKatya}}
          {{> tattooArmen}}

        </div>

      </div>
      <button class="section-4__rightBtn btn">
        <img src="assets/img/right-arrow-icon.png" alt="<" width="25px" height="39px">
      </button>
    </div>
  </div>
</section>
